<h1><%= title %></h1>

<% if (user) { %>
  <ul>
    <li>
      <span><%= user.id %></span>
      <span><%= user.name %></span>
      <form action="/edit/<%= user.id %>" method="post">
        <input type="text" name="password" id="password" value="<%= user.password %>">
        <input type="submit" value="Update">
      </form>
    </li>
  </ul>
<% } %>